body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P", sans-serif;
}
@media (max-width: 900px) {
  .img-fluid {
    height: 300px;
  }
}
body,
html {
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
  overflow-x: hidden;
}
@media (max-width: 600px) and (max-height: 900px) {
  p,
  ul,
  h1 {
    font-size: small;
  }
  #form1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}
#form1 {
  padding-left: 50px;
}
